// Define variables for your color scheme

// For example:
$red: #ED6E6E;
$blue: #167FFB;
$yellow: #F6C82F;
$orange: #E67E22;
$green: #41B591;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary-background: white;
