// Import page-specific CSS files here.
@import "home";

h1,
h2,
h3,
p {
  font-family: $body-font;
}

.trello-col {
  background-color: $primary-background;
  width: auto;
  margin: 16px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: 0;
  }

  .col-content {
    // .div:last-child {
    //   margin-bottom: 8px;
    //   background-color: red;
    // }
  }

  

  h3 {
    margin: 8px;
    font-size: 24px;
    padding-bottom: 8px;
    color: #ccc;
    border-bottom: 1px solid $light-gray;
  }

  .card {
    background-color: $primary-background;
    border: 1px solid $light-gray;
    border-radius: 8px;
    padding-left: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    
    &:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }

    .card-content {
      p {
        margin: 4px;
        margin-bottom: 0px;
      }

      .con-date{
        margin-bottom: 4px;
        .date {
          font-size: 12px;
          color: #ccc;
          margin-bottom: 4px;
        }
      }
    }
  }

  .draggable {
    min-height: 150px;
  }

  #todo {
    min-height: 103px;
  }
}

.trello-col > div {
  flex: 1;
}

.add-task{

  text-align: center;
  font-size: 32px;

  .fas {
    color: black;
    opacity: 0.4;
    &:hover {
      opacity: 0.7;
    }
  }
}

.fa-table {
margin-left: 4px;
color: #ccc;
margin-right: 8px;
}

#todo-col {
  .card {
    // border-bottom: 1px solid red;
    box-shadow: 0 1px 2px 0 red;
  } 
}
#progress-col {
  .card {
    // border-bottom: 1px solid orange;
    box-shadow:  0 1px 2px orange;
  } 
}

#done-col {
  .card {
    // border-bottom: 1px solid green;
    box-shadow: 0 1px 2px 0 green;
  } 
}